---
http_interactions:
- request:
    method: get
    uri: https://sdk-test.stratumn.rocks/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"572778542311def814311315","name":"sdk-test","agentInfo":{"functions":{"init":{"args":["title"]},"addMessage":{"args":["content","author"]},"addTag":{"args":["tag"]}}}}'
  recorded_at: Thu, 11 Aug 2016 15:21:50 GMT
recorded_with: VCR 3.0.3
