---
http_interactions:
- request:
    method: get
    uri: https://sdk-test.stratumn.rocks/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"572778542311def814311315","name":"sdk-test","agentInfo":{"functions":{"init":{"args":["title"]},"addMessage":{"args":["content","author"]},"addTag":{"args":["tag"]}}}}'
  recorded_at: Thu, 11 Aug 2016 15:21:50 GMT
- request:
    method: post
    uri: https://sdk-test.stratumn.rocks/maps
    body:
      encoding: UTF-8
      string: '["Test"]'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"link":{"state":{"title":"Test","createdAt":1470928577917,"messages":[]},"meta":{"mapId":"57ac980ecb455f4e1200eeab","agentHash":"23ff56ec76ebfeeb0d3e9841af9504c96c843dead61f9ebfa7b4db7940e5b81c","stateHash":"576ac5f39e8d3b5dde50b09667018f70f4be20f101dd0041d6aa025e3671d930","prevLinkHash":null,"action":"init","arguments":["Test"]}},"meta":{"linkHash":"f3e3772a4eefeaa12f6d3f133ef9ca7542679d8e59400c3ee300f3b403f63e1f","xStratumn":{"agent":{"name":"/ecstatic_hugle","responseTimeMs":3.8645069999999997},"totalTimeMs":7.0132319999999995,"loadApplicationCache":"hit","loadApplicationTimeMs":0.034589999999999996,"loadOwnerIdCache":"hit","loadOwnerIdTimeMs":0.011231999999999999,"saveOutputLinkTimeMs":2.450695,"merkleCache":"miss","merkleTimeMs":2.433197},"evidence":{"state":"QUEUED"},"application":"sdk-test","applicationLocation":"https://sdk-test.stratumn.net","linkLocation":"https://sdk-test.stratumn.net/links/f3e3772a4eefeaa12f6d3f133ef9ca7542679d8e59400c3ee300f3b403f63e1f"}}'
  recorded_at: Thu, 11 Aug 2016 15:21:50 GMT
recorded_with: VCR 3.0.3
